# I think it will be an interesting experiment (coming from https://stackoverflow.com/a/29932318)
# Ignore everything, this way I'll just have to reverse patterns
*

# Allow yml files in the .github folder
!*.yml
!*.yaml
# Allow markdown anywhere
!*.md

# And don't forget to allow the gitignore!
!.gitignore

# Of course we're java developers, so add a few things
!pom.xml
!*.java
# Of course I extend my maven build with Groovy!
!*.groovy
# Apply rules also in subdirectories
!*/